.vscode/**
.vscode-test/**
src/**
cypress/**
.gitignore
.yarnrc
.yarn/**

**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
**/*.js.map

*.vsix

.mocharc.js
Dockerfile*
out/ui-test/**
out/ui-test-utils/**
test-resources/**

*.run
.env*
.vscode-test.js
.markdownlint.json
.stylelintrc.json
**/tsconfig.webview.json
.github
mkdocs.yml

scripts/**
.devcontainer/**
venv/**
zephyr-workspace
