.vscode/**
.vscode-test/**
src/**
cypress/**
.gitignore
.yarnrc
.yarn/**

**/tsconfig.json
**/.eslintrc.js
**/*.map
**/*.ts
**/*.js.map

*.vsix

.mocharc.js
Dockerfile*
test-resources/**
test/**
out_tests

*.run
.env*
.vscode-test.js
.markdownlint.json
.stylelintrc.json
**/tsconfig.webview.json
.github
mkdocs.yml

images/**
scripts/**
.devcontainer/**
venv/**
zephyr-workspace
