body {
	background-color: transparent;
}

.color-list {
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.color-preview:hover {
	outline: inset white;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	border: none;
	padding: 0 0.6em;
}

.run-kenning-scenario-button {
	display: block;
	border: none;
	margin: 0 auto;
}

.kenning-configuration-platform {
	width: 100%;
}

.vscode-select {
	max-width: 100%;
}

.vscode-button {
	/* max width commonly used by elements-lite */
	max-width: 320px;
}

.vscode-search {
    display: flex;
    flex-direction: row;
}

.vscode-search-input {
    width: 100% !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.vscode-search-button {
    padding-inline: 6px !important;
    width: 2em;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}

.vscode-textfield {
    width: 100% !important;
}

.vscode-select {
    width: 100% !important;
}

.vscode-button.block {
    max-width: 100%;
}
